* {
  margin: 0;
  padding: 0; }

.header {
  background-color: #92A9BD;
  margin-bottom: 25px; }

.navegacion {
  padding: 5px;
  display: flex;
  justify-content: space-around; }
  .navegacion img {
    margin-left: 15px; }
  .navegacion ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .navegacion ul li {
      transition: 0.3s; }
      .navegacion ul li:hover {
        transform: scale(1.2); }
      .navegacion ul li a {
        padding: 15px;
        text-decoration: none;
        color: #FFEFEF;
        font-size: large;
        font-family: 'Pacifico', cursive; }

body {
  background: #91c483;
  background: linear-gradient(0deg, #c4b383 19%, #caba96 27%, #9ad0ec 83%); }

footer {
  height: 100px;
  background-color: #92A9BD;
  text-align: center; }

.flexCentro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

/** INDEX **/
.banner {
  background-image: url("../images/road.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-height: 50vh; }

.encabezado {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 2em;
  color: #FFEFEF; }
  .encabezado h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold; }

.imagen {
  transition: 0.5s;
  width: 100%;
  border: 1px dashed #FFEFEF; }

.efectoHover {
  position: relative; }
  .efectoHover span {
    transition: 0.4s;
    position: absolute;
    z-index: 1;
    /*Para que este delante de la imagen al aparecer*/
    visibility: hidden;
    margin: 20%;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 50px;
    color: #3d3d3d; }
  .efectoHover:hover .imagen {
    opacity: 0.5;
    transform: scale(1.1); }
  .efectoHover:hover span {
    visibility: visible;
    transform: scale(1.5); }

/** NOSOTROS **/
.opinion {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center; }

section h2 {
  text-align: center; }

/** CONTACTO **/
.ubicacion {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }

/** VIAJES **/
.tarjeta {
  background-color: #92A9BD;
  border-radius: 15px;
  margin: 10px; }
  .tarjeta img {
    height: 70%;
    border-radius: 15px; }

.btnBuscar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

/** GALERIA **/
.shadow iframe, .shadow img {
  border-radius: 3%;
  transition-duration: 0.5s;
  filter: grayscale(1); }
  .shadow iframe:hover, .shadow img:hover {
    filter: none;
    transform: rotate(-15deg); }

/** MEDIA QUERIES **/
@media screen and (max-width: 768px) {
  #imgEmpresa {
    /*Nosotros*/
    display: none; }
  .encabezado h1 {
    /*INDEX*/
    font-size: 2.5em; } }

@media screen and (max-width: 575px) {
  .navegacion {
    background-color: #92A9BD; }
    .navegacion ul li a {
      padding: 0; }
  .encabezado h1 {
    /*INDEX*/
    font-size: 2.2em; }
  .efectoHover span {
    /*index*/
    visibility: visible; } }
