@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Saira+Condensed:wght@700&display=swap');
@import "./components/variables";
@import "./base/mapas";
@import "./base/extends";
@import "./base//mixin";

*{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Roboto', sans-serif;
}

.miBotonEnviar{
    @extend %botones;
    background-color: map-get($map: $btn-colors, $key: color-enviar);
    &:hover{
        background-color: map-get($map: $btn-colors, $key: color-enviar-hover);
    }
}
.miBotonReset{
    @extend %botones;
    border: 1px solid white;
    background-color: map-get($map: $btn-colors, $key: color-reset);
    &:hover{
        background-color: map-get($map: $btn-colors, $key: color-reset-hover);
    }
}

.tituloDebil{
    @include flexCentro(row, wrap);
    font-family: 'Bebas Neue', cursive;
    color: $color-claro;
}

.header{
    background-color: $color-principal;
    margin-bottom: 25px;
}
.navegacion{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    .navbar-toggler{
        padding: 0;
    }
    .navbar-toggler-icon{
        width: 40px;
        height: 40px;
        img{
            width: 100%;
        }
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        li{
            transition: 0.3s;
            &:hover{
                transform: scale(1.2);
            }
            a{
                padding: 15px;
                text-decoration: none;
                color: $color-claro;
                font-size: large;
                font-family: 'Pacifico', cursive;
            }
        }
    }
}
body{
    background: rgb(145,196,131);
    background: linear-gradient(0deg, rgb(196, 179, 131) 19%, rgb(202, 186, 150) 27%, rgba(154,208,236,1) 83%);
    h1{
        font-size: ($tamano-titulo/2)-10;
    }
}
footer{
    min-height: 100px;
    background-color: $color-principal;
    text-align: center;
    p{
        color: black;
        font-size: large;
        font-weight: bold;
        font-family: "Ubuntu";
    }
    img{
        margin: 5px;
        width: 40px;
        height: 40px;
    }
}
.flexCentro{
    @include flexCentro(row, wrap);
}
.flexCentroVertical{
    @include flexCentro(column, wrap)
}
/** INDEX **/
.banner{
    background-image: url("../images/banner.jpg") ;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    .gradiente{
        width: 100%;
        height: 100vh;
        color: rgb(146, 169, 189);
        background: repeating-linear-gradient(115deg,
                        rgba(146, 169, 189, 1) 0, rgba(146, 169, 189, 0.7) 50%,
                        rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0 ) )
    }
    .encabezado{
        font-family: 'Bebas Neue', cursive;
        padding-left: 15px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 50%;
        height: 80%;
        font-size: 2em;
        color: $color-claro;
        h1{
            text-transform: uppercase;
            font-size: $tamano-titulo;
            font-weight: bold;
        }
    }
    
    .flechita{
        animation: bounce-down 1.3s ease-in infinite;
        position: absolute;
        left: 10%;
        top: 90%;
    }
}
@keyframes bounce-down {
    25% {
         -webkit-transform: translateY(-5px);
    }
    50%, 100% {
         -webkit-transform: translateY(0);
    }
    75% {
         -webkit-transform: translateY(5px);
    }
  }

.imagen{
    transition: 0.5s;
    width: 100%;
    border: 1px dashed $color-claro;
}
.efectoHover{
    position: relative;
    span{
        transition: 0.4s ;
        position: absolute;
        z-index: 1;             /*Para que este delante de la imagen al aparecer*/
        visibility: hidden;
        margin: 20%;
        font-family: 'Saira Condensed', sans-serif;
        font-size: ($tamano-titulo/2);
        color: rgb(61, 61, 61);
    }
    &:hover{
        .imagen{
            opacity: 0.5;
            transform: scale(1.1);
        }
        span{
            visibility: visible;
            transform: scale(1.5);
        }
    }
}


/** NOSOTROS **/
.opinion{
    @include flexCentro(column, wrap);
}
section h2{
    text-align: center;
}
#sectionEmpleados{
    background-color: $color-fuerte;
    img{
        &:hover{
            transform: scale(1.1);
        }
    }
}

.miniBanner{
    background-image: url("../images/empresa.jpg") ;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    .encabezado{
        h1{
            font-size: $tamano-titulo;
            background-color: rgba(0, 0, 0, 0.5 )
        }
    }
}



/** CONTACTO **/
.ubicacion{
    @include flexCentro(column, wrap);
    margin: 0;
    padding: 0;
}
.imgContacto{
    background-image: url("../images/Envelope-rafiki.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/** VIAJES **/
.tarjeta{
    background-color: $color-principal;
    border-radius: 15px;
    margin: 10px;
    img{
        max-height: 245px;
        border-radius: 15px;
    }
}
.btnBuscar{
    @include flexCentro(row, wrap);
    margin-bottom: 10px;
} 


/** GALERIA **/
.shadow{
    display: flex;
    justify-content: center;
    iframe, img{
        @extend %bordesRedondeados;
        transition-duration: 0.5s;
        filter: grayscale(1);
        &:hover{
            filter: none;
            transform: rotate(-10deg);
        }
        max-height: 300px
    }
}



//las mediaqueries las importo abajo de todo para que funcionen 
@import "./components/mediaqueries";
