/** MEDIA QUERIES **/
@media screen and (max-width: 768px) {
    #imgEmpresa{ /*Nosotros*/
        display: none;
    }
    .banner .encabezado h1, .miniBanner .encabezado h1{ /*INDEX*/
        font-size: ($tamano-titulo)-20;
    }
    .contenedor{
        div{
            width: 100%;
        }
    }
    .shadow{
        iframe, img{
            filter: none;
        }
    }
    #videoGaleria{
        height: 184px;
    }
}

@media screen and (max-width: 575px) {
    .navegacion{
        background-color: $color-principal;
        ul li a {
            padding: 0;
        }
    }
    .banner .encabezado h1, .miniBanner .encabezado h1{ /*INDEX*/
        font-size: ($tamano-titulo)-35;
    }
    .efectoHover{ 
        &:hover{
            .imagen{
                transform: none;
            }
            span{
                transform: none;
            }
        }
        span{
            visibility: visible;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 10px 0 0 10px;
            padding: 0;
        }
    }
    footer{
        img{
            width: 30px;
            height: 30px;
        }
    }
    #videoGaleria{
        height: 296px;
    }


}

@media screen and (max-width: 1115px) {
    #videoGaleria{
        height: 221px;
    }
}

@media screen and (max-width: 991px) {
    #videoGaleria{
        height: 165px;
    }
}