$color-principal: #92A9BD;
$color-principal-claro: #D1D1D1;
$color-fuerte: #6f8a9b;
$color-claro: #FFEFEF;

$color-secundario: #ECC488;
$color-secundario-claro: #E7ED9B;


$ancho-principal: 800px;
$tamano-titulo: 100px;