$color-principal: #92A9BD;
$color-principal-claro: #D3DEDC;
$color-fuerte: #7C99AC;
$color-claro: #FFEFEF;

$color-secundario: #ECC488;
$color-secundario-claro: #E7ED9B;


$ancho-principal: 800px;
$tamano-titulo: 100px;